{% extends "users/auth_base.html" %}
{% block auth_form %}

        <form method="post">
            <legend>Reset Your Password</legend>
            {% if form %}
            <fieldset>
                {% csrf_token %}
                    {{ form.as_p }}  <!-- This will render the form fields -->
            </fieldset>
            <p><button type="submit">Reset Password</button></p>
            {% else %}
                <p>Password reset link has expired. Kindly generate another one</p>
                <p>Debug Info: {{ form.errors }}</p>
            {% endif %}
        </form>

{% endblock %}
