{% extends "users/auth_base.html" %}
{% block auth_form %}

        <form method="post" enctype="multipart/form-data">
            <legend>Change Password</legend>
            <fieldset>
                {% csrf_token %}
                {{ form.as_p }}
            </fieldset>
            <a href="{% url 'profile' request.user.username %}" class="btn-custom">Back To Profile<span class="ion-ios-arrow-forward"></span></a>
            <p><button type="submit">Change</button></p>
        </form>

{% endblock %}



