{% extends "users/auth_base.html" %}
{% block auth_form %}

        <form method="post" enctype="multipart/form-data">
            <legend>Reset Password</legend>
            <fieldset>
                {% csrf_token %}
                <p>
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }}
                </p>
                <p>
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                </p>
            </fieldset>
            <p><button type="submit">Send</button></p>
        </form>

{% endblock %}
